<div class="w-full h-screen">
  <div class="flex justify-center items-center h-10 py-10 space-x-5">
    <p>画像</p>
    <h2><%= @user.name %></h2>
  </div>

  <div class="flex justify-around">
  <div>
    <h2>推しイヤホン</h2>
    
  </div>
  <div>
    <h2>最近のレビュー</h2>
  </div>
  </div>
</div>